<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Home 01</title>
    <div th:replace="~{head.html}" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

    <link rel="stylesheet" th:href="@{/css/my.css}">
</head>

<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">

<div class="site-wrap">

    <header>
        <div th:replace="~{header :: navi(ADMIN)}" />


    </header>
    <div class="site-section">
        <div class="container">
            <div class="row">
                <form class="form-signin" th:action="@{/products/create}"
                      th:object="${product}" method="post" enctype="multipart/form-data" >
                    <div class="text-center mb-4">

                        <h2 class="h3 mb-3 font-weight-normal">Product</h2>
                    </div>
                    <div class="form-label-group">
                        <select th:field="*{category}">
                            <option  id="select" value="0" class="form-control">CHOICE CATEGORY</option>
                            <option th:each="category : ${categories}"
                                    th:value="${{category}}"
                                    th:utext="${category.title}"/>
                        </select>

                    </div>
                    <div class="form-label-group">
                        <select th:field="*{subcategory.id}">
                            <option  id="subcategory" value="0" class="form-control">CHOICE SUBCATEGORY</option>
                            <option th:each="subcategory : ${subcategories}"
                                    th:value="${subcategory.id}"
                                    th:utext="${subcategory.title}"/>
                        </select>
                    </div>
                    <div class="form-label-group">
                        <div class="error" th:if="${#fields.hasErrors('title')}" th:errors="*{title}" />
                        <input type="text" id="inputTitle" th:field="*{title}"  class="form-control"  required autofocus>
                        <label for="inputTitle">Title</label>
                    </div>
                    <div class="form-label-group">
                        <div class="error" th:if="${#fields.hasErrors('description')}" th:errors="*{description}" />
                        <textarea rows="5"  id="description" th:field="*{description}"  class="form-control"  required autofocus/>
                        <label for="description">Description</label>
                    </div>
                    <div class="form-label-group">
                        <select th:field="*{brand.id}">
                            <option  id="brand" value="0" class="form-control">Brand</option>
                            <option th:each="brand : ${brands}"
                                    th:value="${brand.id}"
                                    th:utext="${brand.title}"/>
                        </select>
                    </div>
                    <div class="error" th:if="${#fields.hasErrors('price')}" th:errors="*{price}" />
                    <div class="form-label-group">
                        <input type="number"  id="inputPrice" th:field="*{price}"  class="form-control" placeholder="Price" required>
                        <label for="inputPrice">Price</label>
                    </div>



                    <div class="form-row">
                        <div class="col form-group">
                            <label>Картинка</label>
                            <input type="file" name="files" class="form-control-file" accept="image/*"/>
                        </div>
                    </div>
  
                    <div class="form-label-group">
                    <input type="text" id="title1"  th:name="titles"  class="form-control" autofocus/>
                        <label for="title1">Подпишите картинку</label>

                    </div>

                    <div class="form-row">
                        <div class="col form-group">
                            <label>Картинка</label>
                            <input type="file" name="files" class="form-control-file" accept="image/*"/>
                        </div>
                    </div>

                    <div class="form-label-group">
                        <input type="text" id="title2"  th:name="titles"  class="form-control"  autofocus/>
                        <label for="title2">Подпишите картинку</label>

                    </div>

                    <button class="btn btn-lg btn-primary btn-block" type="submit">Add Product</button>

                </form>





            </div>
        </div>
    </div>
</div>
<!-- .site-wrap -->





</body>

</html>