<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Home 01</title>
    <div th:replace="~{head.html}" />

    <link rel="stylesheet" th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css}">


    <script th:src="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js}"></script>

</head>

<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">

<div class="site-wrap">

    <header>
        <div th:replace="~{header :: navi(Home)}" />
    </header>

    <div class="site-section py-0">
        <div class="owl-carousel hero-slide owl-style">

            <div class="site-section" th:each="subcategory:${subcategories}">
                <div class="container">
                    <div class="half-post-entry d-block d-lg-flex bg-light">

                        <div class="img-bg">
                            <img th:src="@{'/images/' + ${subcategory.image.path}}">
                        </div>
                        <div class="contents">
                            <span class="caption" th:utext="${subcategory.title}"></span>
                            <h2><a th:href="@{'/shop/' + ${subcategory.id} +'/?page=1'}"><span class="caption" th:utext="${subcategory.description}"></span></a></h2>
                            <p class="mb-3">Lorem ipsum dolor sit amet, consectetur adipisic</p>

                            <div class="post-meta">
                                <span class="d-block"><a href="#">Dave Rogers</a> in <a href="#">Food</a></span>
                                <span class="date-read">Jun 14 <span class="mx-1">&bullet;</span> 3 min read <span class="icon-star2"></span></span>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="site-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="row">
                        <div class="col-12">
                            <div class="section-title">
                                <h2>Editor's Pick</h2>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6" >
                            <div class="post-entry-1" th:each="category:${categories}">
                                <a href="post-single.html"><img th:src="@{'/images/' + ${category.image.path}}" alt="Image" class="img-fluid"></a>
                                <h2><a href="blog-single.html"><span th:text="${category.title}"></span></a></h2>
                                <p th:text="${category.description}"></p>

                                <div class="post-meta">
                                    <span class="d-block"><a href="#">Dave Rogers</a> in <a href="#">News</a></span>
                                    <span class="date-read">Jun 14 <span class="mx-1">&bullet;</span> 3 min read <span class="icon-star2"></span></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="post-entry-2 d-flex bg-light" th:each="subcategory:${subcategories}"  >
                                <img class="thumbnail" th:src="@{'/images/' + ${subcategory.image.path}}"></img>
                                <div class="contents">
                                    <h2><a href="blog-single.html"><span th:text="${subcategory.title}"></span></a></h2>
                                    <div class="post-meta">
                                        <span class="d-block"><a href="#">Dave Rogers</a> in <a href="#">News</a></span>
                                        <span class="date-read">Jun 14 <span class="mx-1">&bullet;</span> 3 min read <span class="icon-star2"></span></span>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="section-title">
                        <h2>Trending</h2>
                    </div>

                    <div class="trend-entry d-flex" th:each="subcategory, state:${subcategories}"  >
                        <div class="number align-self-start" ><span  th:if="${state.index &lt; 9}">0</span><span th:text="${state.index+1}"></span></div>
                        <div class="trend-contents">
                            <h2><a href="blog-single.html"><span th:text="${subcategory.title}"></span></a></h2>
                            <div class="post-meta">
                                <span class="d-block"><a href="#">Dave Rogers</a> in <a href="#">News</a></span>
                                <span class="date-read">Jun 14 <span class="mx-1">&bullet;</span> 3 min read <span class="icon-star2"></span></span>
                            </div>
                        </div>
                    </div>



                    <p>
                        <a href="#" class="more">See All Trends <span class="icon-keyboard_arrow_right"></span></a>
                    </p>

                </div>
            </div>
        </div>
    </div>
    <!-- END section -->






    <div class="site-section subscribe bg-light">
        <div class="container">
            <form action="#" class="row align-items-center">
                <div class="col-md-5 mr-auto">
                    <h2>Newsletter Subcribe</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis aspernatur ut at quae omnis pariatur obcaecati possimus nisi ea iste!</p>
                </div>
                <div class="col-md-6 ml-auto">
                    <div class="d-flex">
                        <input type="email" class="form-control" placeholder="Enter your email">
                        <button type="submit" class="btn btn-secondary" ><span class="icon-paper-plane"></span></button>
                    </div>
                </div>
            </form>
        </div>
    </div>



    <div class="footer">
        <div class="container">


            <div class="row">
                <div class="col-12">
                    <div class="copyright">
                        <p>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart text-danger" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank" >Colorlib</a>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>
<!-- .site-wrap -->


<!-- loader -->
<div id="loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#ff5e15"/></svg></div>


<script type="text/javascript" th:src="@{/webjars/jquery/3.3.1/dist/jquery.min.js}"></script>
<script th:src="@{/js/jquery-migrate-3.0.1.min.js}"></script>
<script th:src="@{js/jquery-ui.js}"></script>
<script th:src="@{/js/popper.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/owl.carousel.min.js}"></script>
<script th:src="@{/js/jquery.stellar.min.js}"></script>
<script th:src="@{/js/jquery.countdown.min.js}"></script>
<script th:src="@{/js/bootstrap-datepicker.min.js}"></script>
<script th:src="@{/js/jquery.easing.1.3.js}"></script>
<script th:src="@{/js/aos.js}"></script>
<script th:src="@{/js/jquery.fancybox.min.js}"></script>
<script th:src="@{/js/jquery.sticky.js}"></script>
<script th:src="@{/js/jquery.mb.YTPlayer.min.js}"></script>
<script th:src="@{/js/main.js}"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/4.1.3/js/bootstrap.min.js}"></script>

</body>

</html>